/* Over Write */
.master {
  height: 70vh;
}

/* Articles */
.articles {
  padding: var(--section-padding) 0;
  position: relative;
}

.articles .container {
  padding: 5% 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
}

.articles .box {
  box-shadow: 0 2px 15px rgba(0 0 0 / 15%);
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  transition: transform 0.4s, box-shadow 0.4s;
}

.articles .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgba(0 0 0 / 25%);
}

.articles .box img {
  /*If Image Don't Match make widht 100%*/
  width: 100%;
  max-width: 100%;
}

.articles .box .content {
  padding: 20px;
}

.articles .box .content p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: #777;
}

.articles .box .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles .box .info a {
  color: var(--main-color);
  font-weight: bold;
}

.articles .box .info i {
  color: var(--main-color);
}

.articles .box:hover .info i {
  animation: moving-arrow 0.6s linear infinite;
}
